.main>.head {
  background: url('/images/about/top_img1.jpg') 52%  no-repeat;
}
.history article section {
  margin: 2rem;
  margin-left: 3rem;
}
.history article section .title {
  font-size: 22px;
  font-weight: bold;
  color:#ff0000;
  margin-bottom: 1rem;
}
.history article section .row>.col {
  padding: 0;
}
.history article section .row>.col:first-child {
  width: 100px;
  flex:0 0 auto;
  border-right: 1px solid #cccccc;
}
.history article section .row .time {
  position: relative;
  justify-content: flex-end;
  text-align: right;
  padding-right: 2rem;
  color: #666666;
  font:14px sans-serif;
}
.history article section .row .text,
.history article section .row .time {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.history article section .row .text {
  padding-left: 2rem;
}
.history article section .row .time .pointer {
  position: absolute;
  left: 100%;
  top: 50%;
  border: 5px solid #e60118;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -5px;
}
.history article section.sec2 .row .time .pointer {
  border-color: #00ff00;
}
.history article section.sec3 .row .time .pointer {
  border-color: #fd6900;
}
/* 总裁致辞 */
.ceo article section.sec1 .title {
  width: 70%;
  text-align: center
}
.ceo article section.sec1 .right{
  flex: 1 1;
  padding: 26px;
  font-size: 15px;
  color: #ffffff;
  background-color:#e60118;
}
.ceo article section.sec2 {
  padding: 32px;
}
main .container .culture.content .article-title {
  font-size: 26px;
}
.culture article>.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.culture article>.head .right{
  display: flex;

}
.culture article>.head .right .box{
  padding: 16px;
}
.culture article>.head .right .box a{
  display: block;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 0  20%/50%;
  background-color: #f95454;
  color: #ffffff;
  transition: all .2s linear;
}
.culture article>.head .right .box a:hover {
  border-radius: 20%/50%;
  background-color: #e60118;
}
.ceo article section.sec2,
.culture article>.content,
.links .article>.content {
  font-size: 15px;
  background-color: #F7F6F6;
  box-shadow: 0 1px 3px #cccccc;
}
.culture article>.content .title {
  font-size:19px;
  color: #ff0000;
}
.links .article>.content .col {
  padding: 9px;
  flex: 0 0 20%;
}
.links .article>.content a {
  display: block;
  padding: 5px;
  text-align: center;
  background-color: #ffffff;
}

