.cpu .list-group {
  flex-flow:row wrap;
}
.cpu .list-group-item {
  padding: 0px;
  flex-shrink: 0;
  width: 25%;
}
.cpu .card {
  padding-top: 1rem;
  text-align: center;
  border: none;
}
.cpu .card .card-body {
  padding: 1rem;
}
.cpu .card-body .link {
  font-size: 14px;
  padding: 7px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 14px;
  color: #ffffff;
  background-color: #999999;
  transition: all .2s linear;
}
.cpu .card:hover .link {
  background-color: #f95454;
}

.cpu .lsdoc>.title{
  padding: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #cccccc;
  font-size: 18px;
  font-weight: bold;
  color: red;
}
.cpu .lsdoc .media {
  padding: 24px;
  border: 2px solid transparent;
  font-size: 14px;
  color:#333333;
  transition: all .5s linear;
}
.cpu .lsdoc .media:hover {
  border-color: #f95454;
  color: #db5033;
}